
*.class
*.log
.DS_Store
bin/.DS_Store
bin/com/.DS_Store
bin/com/gof/.DS_Store
bin/com/gof/model/.DS_Store
bin/hibernate.cfg.xml
bin/log4j2.xml
target/classes/hibernate.cfg.xml
target/classes/log4j2.xml
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/gesg/gesg/pom.properties
target/classes/META-INF/maven/gesg/gesg/pom.xml
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
